#block-login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../../../public/sea-battle-login.jpg);
    background-repeat: no-repeat; /*отключение повторения изображения*/
    background-position: center center; /*положение относительно центра*/
    background-attachment: fixed; /*фон остается неподвижным*/
    background-size: 100%;
}

#login-form>form{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#login-form{
    width: 400px;
    height: 200px;
    background: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}


#sea-battle-form-content{
    flex:1;
    font-weight: 500;
}

#button-login{
    /*background: #61dafb;*/
    background: gold;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 11pt;
}
